header{
    background-color:#2c3e50
}

section:nth-child(even){
    background-color: #1abc9c;
}

section{
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}

.hero img{
    max-height: 200px;
}

.portfolio img{
    width: 100%;
}

form input{
    border: none;
    border-bottom: 1px solid grey;
}
.form-control:focus{
    box-shadow: none;
}
#floatingTextarea.ms-textarea{
    height:10rem ;
}